.mui-content {
  width: 100%;
  background: #fff;
}
.mui-content #tabbar {
  width: 100%;
  height: 100%;
}
.mui-content #tabbar .swiper-container {
  width: 100%;
  height: 7.98rem;
}
.mui-content #tabbar .swiper-container .swiper-wrapper .swiper-slide img {
  height: 100%;
  width: 100%;
}
.mui-content #tabbar .content {
  display: inline-block;
  clear: both;
  width: 100%;
  margin-top: -1rem;
  margin-bottom: -0.6rem;
}
.mui-content #tabbar .content #slider {
  width: 100%;
  display: inline-block;
  background: #FFFFFF;
  border-radius: 1rem 1rem 0 0;
}
.mui-content #tabbar .content #slider .mui-scroll-wrapper {
  width: 100%;
  height: 1.68rem;
}
.mui-content #tabbar .content #slider .mui-scroll-wrapper .mui-scroll {
  width: 100%;
  height: 100%;
  display: flex;
  background: #ebebeb;
  color: #717171;
  font-size: 0.5rem;
  font-weight: bold;
}
.mui-content #tabbar .content #slider .mui-scroll-wrapper .mui-scroll a {
  height: 100%;
  flex: 1;
}
.mui-content #tabbar .content #slider .mui-scroll-wrapper .mui-scroll .mui-active {
  color: #222222;
  background: #FFFFFF;
}
.mui-content #tabbar .content #slider .mui-slider-group .mui-slider-item {
  border: 0;
  display: inline-block;
  line-height: 2.26rem;
}
.mui-content #tabbar .content #slider .mui-slider-group .mui-slider-item .mui-table-view {
  height: 100%;
  width: 100%;
}
.mui-content #tabbar .content #slider .mui-slider-group .mui-slider-item .mui-table-view .check_dd {
  height: 2.24rem;
  padding: 0 0.96rem 0 0.96rem;
  line-height: 2.24rem;
  border-bottom: 0.04rem solid #ebebeb;
}
.mui-content #tabbar .content #slider .mui-slider-group .mui-slider-item .mui-table-view .check_dd .dd {
  height: 100%;
  line-height: 2.24rem;
  float: left;
  color: #484848;
  font-weight: bold;
  font-size: 0.62rem;
}
.mui-content #tabbar .content #slider .mui-slider-group .mui-slider-item .mui-table-view .check_dd .dd span {
  float: left;
  line-height: 2.24rem;
  margin: 0 0.54rem 0 0;
  font-size: 0.72rem;
}
.mui-content #tabbar .content #slider .mui-slider-group .mui-slider-item .mui-table-view .check_dd .dd div {
  float: left;
  overflow: hidden;
}
.mui-content #tabbar .content #slider .mui-slider-group .mui-slider-item .mui-table-view .check_dd .wz {
  height: 100%;
  line-height: 2.24rem;
  float: right;
  color: #008489;
  font-size: 0.52rem;
}
.mui-content #tabbar .content #slider .mui-slider-group .mui-slider-item .mui-table-view .check_dd .wz span {
  font-size: 0.68rem;
  margin-right: 0.2rem;
}
.mui-content #tabbar .content #slider .mui-slider-group .mui-slider-item .mui-table-view .time {
  height: 2.24rem;
  padding: 0 0.96rem 0 0.96rem;
  line-height: 2.24rem;
  font-size: 0.44rem;
  border-bottom: 0.04rem solid #ebebeb;
}
.mui-content #tabbar .content #slider .mui-slider-group .mui-slider-item .mui-table-view .time span {
  font-size: 0.68rem;
  color: #484848;
}
.mui-content #tabbar .content #slider .mui-slider-group .mui-slider-item .mui-table-view .time button {
  height: 100%;
  border: 0;
  font-size: 0.6rem;
  font-weight: bold;
}
.mui-content #tabbar .content #slider .mui-slider-group .mui-slider-item .mui-table-view .search {
  height: 2.24rem;
  padding: 0 0.96rem 0 0.96rem;
  line-height: 2.24rem;
}
.mui-content #tabbar .content #slider .mui-slider-group .mui-slider-item .mui-table-view .search span {
  font-size: 0.64rem;
}
.mui-content #tabbar .content #slider .mui-slider-group .mui-slider-item .mui-table-view .search button {
  width: 90%;
  font-size: 0.6rem;
  color: #767676;
  height: 100%;
  text-align: left;
  border: 0;
  font-weight: bold;
}
.mui-content #tabbar .content #slider .mui-slider-group .mui-slider-item .mui-table-view .btn-search {
  height: 1.96rem;
  padding: 0 0.96rem 0 0.96rem;
  line-height: 2.24rem;
}
.mui-content #tabbar .content #slider .mui-slider-group .mui-slider-item .mui-table-view .btn-search button {
  height: 100%;
  width: 100%;
  background: #008489;
  color: #FFFFFF;
  border-radius: 0.28rem;
  font-size: 0.6rem;
  font-weight: bold;
}
.mui-content #tabbar .content .housingClassification {
  width: 100%;
  height: 4.64rem;
  padding: 1rem 0 1.52rem 1.06rem;
}
.mui-content #tabbar .content .housingClassification .swiper-container {
  width: 100%;
  height: 100%;
}
.mui-content #tabbar .content .housingClassification .swiper-container .swiper-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
}
.mui-content #tabbar .content .housingClassification .swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
  width: 2rem;
  flex: 1;
}
.mui-content #tabbar .content .housingClassification .swiper-container .swiper-wrapper .swiper-slide img {
  width: 1.28rem;
  height: 1.2rem;
  margin-bottom: 0.22rem;
}
.mui-content #tabbar .content .housingClassification .swiper-container .swiper-wrapper .swiper-slide h3 {
  width: 2rem;
  height: 0.46rem;
  line-height: 0.46rem;
  font-size: 0.48rem;
  color: #484848;
  font-weight: bold;
  margin: 0;
}
.mui-content #tabbar .content .weeklyRent {
  width: 100%;
  height: 2.42rem;
  padding: 0 0 0 0.96rem;
}
.mui-content #tabbar .content .weeklyRent h2 {
  height: 1.28rem;
  font-size: 0.82rem;
  font-weight: bold;
  line-height: 1.28rem;
  color: #222222;
  margin: 0;
}
.mui-content #tabbar .content .weeklyRent h3 {
  height: 1.14rem;
  line-height: 1.14rem;
  font-size: 0.56rem;
  color: #484848;
  margin: 0;
  font-family: "宋体";
}
.mui-content #tabbar .content .weeklyRent_content {
  width: 100%;
  height: 21.74rem;
  border: 0;
}
.mui-content #tabbar .content .weeklyRent_content #tab {
  width: 100%;
  height: 2.84rem;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.58rem 0 0.58rem 0;
}
.mui-content #tabbar .content .weeklyRent_content #tab div {
  height: 1.68rem;
  list-style: none;
  float: left;
}
.mui-content #tabbar .content .weeklyRent_content #tab div button {
  height: 1.68rem;
  width: 2.88rem;
  border-radius: 0.1rem;
  background: #FFFFFF;
  font-size: 0.52rem;
  color: #484848;
  border: 0.02rem solid #d8d8d8;
  padding: 0;
  box-shadow: 0 0.08rem 0.08rem 0 rgba(0, 0, 0, 0.2), 0 0.08rem 0.08rem 0 rgba(0, 0, 0, 0.19);
}
.mui-content #tabbar .content .weeklyRent_content #tab div .active {
  color: #FFFFFF;
  background: #008489;
  border: 0.02rem solid #008489;
}
.mui-content #tabbar .content .weeklyRent_content #tabCon {
  width: 100%;
  height: 18.9rem;
  padding: 0 0.96rem 0 0.96rem;
  position: relative;
}
.mui-content #tabbar .content .weeklyRent_content #tabCon .tabCon_content {
  width: 100%;
  height: 100%;
  display: none;
}
.mui-content #tabbar .content .weeklyRent_content #tabCon .tabCon_content .juti {
  width: 100%;
  height: 16.98rem;
  padding: 0.5rem 0 1.02rem 0;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.mui-content #tabbar .content .weeklyRent_content #tabCon .tabCon_content .juti .juti_content {
  width: 5.24rem;
  height: 7.22rem;
}
.mui-content #tabbar .content .weeklyRent_content #tabCon .tabCon_content .juti .juti_content img {
  width: 5.24rem;
  height: 3.5rem;
  vertical-align: text-top;
}
.mui-content #tabbar .content .weeklyRent_content #tabCon .tabCon_content .juti .juti_content h4 {
  width: 100%;
  height: 0.86rem;
  line-height: 0.86rem;
  color: #a72d08;
  font-size: 0.38rem;
  margin: 0;
}
.mui-content #tabbar .content .weeklyRent_content #tabCon .tabCon_content .juti .juti_content p {
  color: #484848;
  font-size: 0.52rem;
  margin: 0;
}
.mui-content #tabbar .content .weeklyRent_content #tabCon .tabCon_content .juti .juti_content .price {
  font-size: 0.46rem;
  color: #484848;
}
.mui-content #tabbar .content .weeklyRent_content #tabCon .tabCon_content .juti .juti_content .price i {
  font-size: 0.48rem;
  font-weight: bold;
  color: #484848;
}
.mui-content #tabbar .content .weeklyRent_content #tabCon .tabCon_content .juti .juti_content .pf {
  width: 100%;
  height: 0.48rem;
  line-height: 0.48rem;
  float: left;
  font-size: 0.46rem;
  color: #767676;
}
.mui-content #tabbar .content .weeklyRent_content #tabCon .tabCon_content .juti .juti_content .pf span {
  font-size: 0.38rem;
  color: #008489;
  float: left;
  margin-right: 0.2rem;
}
.mui-content #tabbar .content .weeklyRent_content #tabCon .tabCon_content .juti .juti_content .pf i {
  height: 100%;
  font-size: 0.34rem;
  color: #484848;
  font-weight: bold;
}
.mui-content #tabbar .content .weeklyRent_content #tabCon .tabCon_content #tab_btn {
  width: 10.9rem;
  height: 1.92rem;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0 0.96rem 0 0.96rem;
}
.mui-content #tabbar .content .weeklyRent_content #tabCon .tabCon_content #tab_btn button {
  width: 100%;
  height: 100%;
  line-height: 1.92rem;
  border: 0.04rem solid #b2dadb;
  padding: 0;
  border-radius: 0.26rem;
  color: #008489;
  font-size: 0.6rem;
  font-weight: bold;
}
.mui-content #tabbar .content .weeklyRent_content #tabCon .on {
  display: block;
}
.mui-content #tabbar .content .possiblePlaces {
  width: 100%;
  height: 12.1rem;
  padding: 1.72rem 0 0.8rem 0;
}
.mui-content #tabbar .content .possiblePlaces h3 {
  width: 100%;
  height: 1.32rem;
  line-height: 1.32rem;
  margin: 0;
  font-size: 0.82rem;
  color: #222222;
  padding-left: 0.98rem;
}
.mui-content #tabbar .content .possiblePlaces h4 {
  width: 100%;
  height: 1.12rem;
  line-height: 1.12rem;
  font-size: 0.6rem;
  margin: 0 0 0.8rem 0;
  padding-left: 0.98rem;
  color: #484848;
  font-family: '宋体';
}
.mui-content #tabbar .content .possiblePlaces .swiper-container {
  width: 100%;
  height: 6.32rem;
}
.mui-content #tabbar .content .possiblePlaces .swiper-container .swiper-wrapper {
  height: 100%;
  width: 5.12rem;
}
.mui-content #tabbar .content .possiblePlaces .swiper-container .swiper-wrapper .swiper-slide {
  position: relative;
}
.mui-content #tabbar .content .possiblePlaces .swiper-container .swiper-wrapper .swiper-slide img {
  height: 100%;
  width: 100%;
  border-radius: 0.14rem;
}
.mui-content #tabbar .content .possiblePlaces .swiper-container .swiper-wrapper .swiper-slide .dd_price {
  width: 100%;
  height: 1.62rem;
  padding-left: 0.5rem;
  position: absolute;
  left: 0;
  bottom: 0.44rem;
}
.mui-content #tabbar .content .possiblePlaces .swiper-container .swiper-wrapper .swiper-slide .dd_price h3 {
  width: 100%;
  height: 0.9rem;
  line-height: 0.9rem;
  color: #FFFFFF;
  font-size: 0.6rem;
  margin: 0;
  padding: 0;
}
.mui-content #tabbar .content .possiblePlaces .swiper-container .swiper-wrapper .swiper-slide .dd_price h4 {
  width: 100%;
  height: 0.72rem;
  line-height: 0.72rem;
  color: #FFFFFF;
  font-size: 0.46rem;
  margin: 0;
  padding: 0;
}
.mui-content #tabbar .content .plusHousing {
  width: 100%;
  height: 13.66rem;
  padding: 0 0.96rem;
}
.mui-content #tabbar .content .plusHousing .plusHousing_title {
  width: 100%;
  height: 2.42rem;
  margin-bottom: 0.84rem;
}
.mui-content #tabbar .content .plusHousing .plusHousing_title h3 {
  height: 1.36rem;
  width: 100%;
  line-height: 1.36rem;
  color: #222222;
  font-size: 0.82rem;
  margin: 0;
}
.mui-content #tabbar .content .plusHousing .plusHousing_title p {
  width: 100%;
  height: 1.06rem;
  line-height: 1.06rem;
  color: #484848;
  font-size: 0.56rem;
}
.mui-content #tabbar .content .plusHousing img {
  width: 10.88rem;
  height: 10.4rem;
  border-radius: 0.08rem;
  position: relative;
}
.mui-content #tabbar .content .plusHousing button {
  width: 6.62rem;
  height: 1.8rem;
  line-height: 1.8rem;
  background: #FFFFFF;
  font-size: 0.46rem;
  font-weight: bold;
  color: #484848;
  position: absolute;
  left: 2.99rem;
  bottom: 3.04rem;
  padding: 0;
  border-radius: 0.14rem;
  border: 0;
}
.mui-content #tabbar .content .plusHousing button span {
  font-size: 0.4rem;
  margin-left: 0.2rem;
}
.mui-content #tabbar .content .max_but {
  width: 100%;
  height: 2.74rem;
}
.mui-content #tabbar .content .max_but h3 {
  text-align: center;
  line-height: 2.74rem;
  font-size: 0.62rem;
  color: #767676;
  margin: 0;
}
.mui-content #tabbar-heart h3 {
  width: 10.82rem;
  height: 2.2rem;
  line-height: 2.2rem;
  color: #484848;
  margin: 2.78rem auto 0;
  font-size: 1.1rem;
}
.mui-content #tabbar-heart .content {
  width: 10.82rem;
  height: 1.72rem;
  font-size: 0.6rem;
  margin: 0 auto;
}
.mui-content #tabbar-heart .img {
  width: 100%;
  height: 13.86rem;
}
.mui-content #tabbar-heart .img img {
  height: 100%;
  width: 100%;
}
.mui-content #tabbar-heart .btn {
  height: 1.8rem;
  width: 3.04rem;
  border: 0.08rem solid #008489;
  color: #008489;
  font-size: 0.54rem;
  font-weight: bold;
  margin-left: 0.96rem;
}
.mui-content #tabbar-gushi {
  width: 100%;
  height: 100%;
}
.mui-content #tabbar-gushi .write {
  height: 1.6rem;
  width: 4.04rem;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  border-radius: 0.76rem;
  position: fixed;
  left: 4.38rem;
  bottom: 3.04rem;
  border: 0;
  font-size: 0.46rem;
  z-index: 999;
  box-shadow: 0 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
}
.mui-content #tabbar-gushi .write span {
  font-size: 0.64rem;
}
.mui-content #tabbar-gushi .gushi_search {
  width: 100%;
  height: 1.92rem;
  padding: 0 0.94rem;
  margin-bottom: 0.08rem;
}
.mui-content #tabbar-gushi .gushi_search .search {
  width: 100%;
  height: 100%;
  border: 0.02rem solid #e6e6e6;
  background-color: #FFFFFF;
  border-radius: 0.1rem;
  margin: 0;
  position: relative;
  padding: 0 0 0 2.1rem;
  font-size: 0.52rem;
  font-weight: bold;
  color: #919191;
  box-shadow: 0 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
}
.mui-content #tabbar-gushi .gushi_search .mui-icon-search {
  position: absolute;
  left: 0.94rem;
  margin: 0.64rem 0.76rem;
  font-size: 0.6rem;
}
.mui-content #tabbar-gushi .feilei {
  width: 100%;
  display: inline-block;
}
.mui-content #tabbar-gushi .feilei .feilei_nav {
  width: 100%;
  height: 1.68rem;
  float: left;
  display: flex;
  border-bottom: 0.04rem solid #ebebeb;
  margin-bottom: 0.52rem;
}
.mui-content #tabbar-gushi .feilei .feilei_nav .feilei_nav_cont {
  height: 100%;
  line-height: 1.68rem;
  float: left;
  flex: 1;
  text-align: center;
  font-size: 0.44rem;
  color: #767676;
}
.mui-content #tabbar-gushi .feilei .feilei_nav .active_feilei {
  border-bottom: 0.08rem solid #484848;
  color: #484848;
}
.mui-content #tabbar-gushi .feilei .feilei_content {
  float: left;
  width: 100%;
  height: auto;
  clear: both;
  padding: 0 0.96rem;
  display: none;
}
.mui-content #tabbar-gushi .feilei .feilei_content h3 {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 2.52rem;
  line-height: 2.52rem;
  font-size: 0.92rem;
  color: #484848;
}
.mui-content #tabbar-gushi .feilei .feilei_content .feilei_content_jt {
  width: 100%;
  height: auto;
  clear: both;
}
.mui-content #tabbar-gushi .feilei .feilei_content .feilei_content_jt .jt {
  width: 100%;
  height: auto;
  clear: both;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.mui-content #tabbar-gushi .feilei .feilei_content .feilei_content_jt .jt .juti_content {
  clear: both;
  width: 5.2rem;
  margin-bottom: 1.06rem;
}
.mui-content #tabbar-gushi .feilei .feilei_content .feilei_content_jt .jt .juti_content img {
  width: 100%;
  height: 5.2rem;
  vertical-align: text-top;
  border-radius: 0.14rem;
}
.mui-content #tabbar-gushi .feilei .feilei_content .feilei_content_jt .jt .juti_content p {
  height: 1.78rem;
  color: #484848;
  font-size: 0.46rem;
  margin: 0;
}
.mui-content #tabbar-gushi .feilei .feilei_content .feilei_content_jt .jt .juti_content p span {
  color: #484848;
  font-size: 0.48rem;
  font-weight: bold;
  margin-right: 0.2rem;
}
.mui-content #tabbar-gushi .feilei .feilei_content .feilei_content_jt .jt .juti_content .user {
  width: 100%;
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.36rem;
  color: #767676;
}
.mui-content #tabbar-gushi .feilei .feilei_content .feilei_content_jt .jt .juti_content .user .tx {
  width: 0.8rem;
  height: 0.8rem;
  font-size: 0.8rem;
  border-radius: 100%;
  float: left;
  margin-right: 0.4rem;
  border: 0.02rem solid #008489;
  color: #008489;
}
.mui-content #tabbar-gushi .feilei .feilei_content .feilei_content_jt .jt .juti_content .user .icon_zan_hua {
  line-height: 0.8rem;
  font-size: 0.48rem;
  margin-right: 0.18rem;
}
.mui-content #tabbar-gushi .feilei .feilei_content .feilei_content_jt #tab_btn {
  width: 10.9rem;
  height: auto;
  clear: both;
  margin: 0.2rem 0 0.84rem 0;
}
.mui-content #tabbar-gushi .feilei .feilei_content .feilei_content_jt #tab_btn button {
  width: 100%;
  height: 100%;
  line-height: 1.92rem;
  border: 0.04rem solid #b2dadb;
  padding: 0;
  border-radius: 0.14rem;
  color: #008489;
  font-size: 0.6rem;
  font-weight: bold;
}
.mui-content #tabbar-gushi .feilei .on {
  display: block;
}
.mui-content #tabbar-email h3 {
  width: 10.82rem;
  height: 2.2rem;
  line-height: 2.2rem;
  color: #484848;
  margin: 2.78rem auto 0;
  font-size: 1.1rem;
}
.mui-content #tabbar-email .content {
  width: 10.82rem;
  height: 1.72rem;
  font-size: 0.6rem;
  margin: 0 auto;
}
.mui-content #tabbar-email .img {
  width: 100%;
  height: 13.86rem;
}
.mui-content #tabbar-email .img img {
  height: 100%;
  width: 100%;
}
.mui-content #tabbar-email .btn {
  height: 1.8rem;
  width: 3.04rem;
  border: 0.08rem solid #008489;
  color: #008489;
  font-size: 0.54rem;
  font-weight: bold;
  margin-left: 0.96rem;
}
.mui-content #tabbar-login .login {
  margin: 0 auto;
  width: 10.88rem;
}
.mui-content #tabbar-login .login .login-head {
  width: 100%;
  display: inline-block;
  border-bottom: 0.04rem solid #ebebeb;
  float: left;
}
.mui-content #tabbar-login .login .login-head .sz {
  width: 100%;
  height: 0.64rem;
  margin: 1.92rem 0 1.16rem 0;
  float: right;
}
.mui-content #tabbar-login .login .login-head .sz a {
  width: 0.64rem;
  height: 100%;
  color: #484848;
  float: right;
}
.mui-content #tabbar-login .login .login-head .sz a span {
  float: right;
  font-size: 0.64rem;
}
.mui-content #tabbar-login .login .login-head .sz a:hover {
  background: #484848;
}
.mui-content #tabbar-login .login .login-head .login-zc {
  width: 100%;
  height: 1.92rem;
  float: right;
  margin: 0 0 1rem 0;
}
.mui-content #tabbar-login .login .login-head .login-zc .login-zc-out {
  height: 100%;
  width: 8.96rem;
  float: left;
}
.mui-content #tabbar-login .login .login-head .login-zc .login-zc-out a {
  float: left;
  width: 100%;
  height: 100%;
  font-size: 0.86rem;
  font-weight: bold;
  color: #484848;
}
.mui-content #tabbar-login .login .login-head .login-zc .img {
  width: 1.92rem;
  height: 100%;
  float: right;
  border-radius: 100%;
  border: 0.04rem solid #000000;
  overflow: hidden;
}
.mui-content #tabbar-login .login .login-head .login-zc .img img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.mui-content #tabbar-login .login .tool {
  width: 100%;
  display: inline-block;
  border-bottom: 0.04rem solid #ebebeb;
}
.mui-content #tabbar-login .login .tool h3 {
  width: 100%;
  height: 2.9rem;
  line-height: 2.9rem;
  color: #484848;
  font-weight: bold;
  font-size: 0.66rem;
  margin: 0;
}
.mui-content #tabbar-login .login .tool .tools {
  width: 100%;
  height: 2.94rem;
}
.mui-content #tabbar-login .login .tool .tools .list {
  list-style: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
}
.mui-content #tabbar-login .login .tool .tools .list a {
  width: 33.3333%;
  height: 100%;
  text-align: center;
  color: #484848;
}
.mui-content #tabbar-login .login .tool .tools .list a li {
  width: 100%;
  height: 100%;
}
.mui-content #tabbar-login .login .tool .tools .list a li span {
  font-size: 1rem;
}
.mui-content #tabbar-login .login .tool .tools .list a li .name {
  font-size: 0.52rem;
  color: #484848;
  margin-top: 0.48rem;
}
.mui-content #tabbar-login .login .becomeMan {
  width: 100%;
  display: inline-block;
}
.mui-content #tabbar-login .login .becomeMan h3 {
  width: 100%;
  height: 2.9rem;
  line-height: 2.9rem;
  color: #484848;
  font-weight: bold;
  font-size: 0.66rem;
  margin: 0;
}
.mui-content #tabbar-login .login .becomeMan .becomeMan_out {
  width: 100%;
  height: 1.92rem;
  float: left;
}
.mui-content #tabbar-login .login .becomeMan .becomeMan_out a {
  width: 100%;
  height: 1.92rem;
  color: #484848;
  line-height: 1.92rem;
  font-size: 0.62rem;
  float: right;
}
.mui-content #tabbar-login .login .becomeMan .becomeMan_out a span {
  float: right;
  margin-top: 0.6rem;
}
.mui-bar-tab {
  height: 2.24rem;
  border-top: 0.04rem solid #d4d4d4;
  background: #fff;
}
.mui-bar-tab .mui-tab-item.mui-active {
  color: #ff5a5f;
}
.mui-bar .mui-tab-item {
  color: #484848;
}
